/* style.css */
/* Стилі для загального вигляду */
body {
    font-family: Arial, sans-serif;
    background-color: white;
}


/* Стилі для заголовку */
.header {
    background-color: #f0f0f0;
}

/* Стилі для логотипу */
svg {
    fill: #007bff;
    margin-right: 10px;
}

/* Стилі для меню навігації */
.nav-link {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

/* Стилі для форми пошуку */
.form-control {
    width: 200px;
    margin-right: 10px;
}

/* Стилі для аватара користувача у випадаючому списку */
.dropdown-toggle {
    padding: 0;
}

/* Стилі для фото користувача */
.rounded-circle {
    border: 1px solid #007bff;
}

/* Стилі для випадаючого списку користувача */
.dropdown-menu {
    min-width: 100px;
    text-align: right;
}

/* Стилі для пунктів випадаючого списку */
.dropdown-item {
    color: #007bff;
}

/* Стилі для роздільника випадаючого списку */
.dropdown-divider {
    margin: 0;
}

/*----------------------------------------------------------------------------------------------*/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}


.flex-wrap {
    flex-wrap: wrap!important;
}

.tags-box {
  text-align: right;
}

.tags-box h2 {
  margin-top: 0px;
}

.tag-item {
  display: block;
  margin: 4px;
}
.pager {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.pager {
    padding-left: 10;
    margin: 22px 0;
    list-style: none;
    text-align: center;
}

.pager li {
    display: inline;
}

.pager .next>a, .pager .next>span {
    float: right;
}

/*.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
}
*/
.disabled {
    color: #333333;
}

.alert-error, .errorlist {
    color: crimson;
}

.alert-success {
    color: green;
}
